body{
    background: linear-gradient(to bottom, #924dbf, #660066);
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}
/*#660066*/
p{
  color:white;
}
.titel{
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 25px;
    animation: grow-shrink 3s infinite ease-in-out;
}

.text1{
    width: 70%;
    margin: auto;
    background-color:#330039 ;
    color:white;
    padding: 6px;
    border-radius: 6px;
}
.text1 p{
    margin-left: 6px;
}

@keyframes grow-shrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.3);
    }
    100% {
      transform: scale(1);
    }
  }

  html, body {
    overflow-x: hidden;
    width: 100%;
  }

  footer{
    position: fixed;
    bottom: 0;
    padding:2px;
    color:white;
    background-color: black;
  }

  .kontakta{
    margin-top: 120px;
  }

  .kontakta p{
    margin: 0;
  }

  .nyhet{
    margin-top: 45px;
  }
  .nyhet p{
    margin: 0;
  }
  .rick{
    color:rgb(0, 171, 228);
  }


  .main{
    width: 310px;
    margin: auto;
  }

  .flyers {
      display: flex;
  }

  .flyer_bild:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
  }

  .flyer_bild:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
  }


  .flyer_bild{
    width: 144px;
    margin: auto;
    border: 2px solid white;
    border-radius: 5px;
  }

  .skåp{
    display:flex;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .skåp_bild{
    width:140px;
  }
  .skåp_text{
    font-size: 14px;
    margin-left: 3px;
  }